body{
    background-color: rgb(222, 218, 206);
}

#calculadora{
    background-color: rgb(3, 0, 7);
    border-radius: 10px;
    padding: 5px;
}

#resultado{
    background-color: aquamarine;
    border-radius: 10px;
    border: 3px;
    padding: 10px;
}

#formulario{
    padding: 50px;
}

.flex-container{
    background-color: brown;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.boton{
    border-radius: 5px;
}
.boton{
    width:55px
}
#nombrecalcu{
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
